.viewPostModal {
  .ant-modal-content {
    height: max-content;
    // max-width: 700px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    max-height: 80vh;
    overflow: scroll;
    padding: 50px !important;
    border-radius: 20px;
  }
  .ant-modal-body {
    overflow: scroll;
    height: 100%;
    position: relative;
  }
  .closeIcon {
    font-size: 32px;
    padding: 11px 24px 0px 0px;
    color: #b9b7b7;
    &:hover {
      color: red;
    }
  }
  .ant-modal-close:hover {
    background-color: unset !important;
  }
  .viewPost {
    padding: 20px;
    border: 2px solid #d5d1d1;
    border-radius: 15px;
  }
}
