* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
  }
  .ant-layout {
    padding-left: 20px;
  }
  .ant-layout-has-sider {
    padding: 20px;
    background: #f8f8f8;
  }
  
  /* .ant-layout-content{
      padding: 10px;
      background: white;
      margin-top: 10px;
      border-radius: 15px;
  } */
  